{% set git_user_name = dotfiles_git_user_name | default('') %}
{% set git_user_email = dotfiles_git_user_email | default('') %}
{% if git_user_name or git_user_email %}
[user]
	{% if git_user_name %}name = {{ git_user_name }}
	{% endif %}{% if git_user_email %}email = {{ git_user_email }}
	{% endif %}{% endif %}
[pull]
	rebase = true
	autostash = true
[rebase]
	autostash = true
	autosquash = true
[init]
    defaultBranch = main
